meta(charset=charset || 'UTF-8')
meta(name='viewport', content=viewport || 'width=device-width, initial-scale=1')
title=title
meta(name='description', content=description)
meta(property='og:locale', content=locale || 'en_GB')
meta(property='og:type', content='article')
meta(property='og:title', content=title)
meta(property='og:description', content=description)
meta(property='og:url', content=url)
meta(property='og:image', content=image)
meta(property='twitter:card', content='summary_large_image')
meta(property='twitter:site', content=twitter)
meta(property='twitter:creator', content=twitter)
meta(property='twitter:title', content=title)
meta(property='twitter:description', content=description)
meta(property='twitter:image', content=image)
